nav.navbar{
	background: pink !important;
	}
.swiper-container {
    			width: 720px;
    			height: 540px;
			}
.swiper-slide .img{
				width: 720px;
    			height: 540px;
			}
/*.swiper-container {
    			width: 100%;
    			height: 100%;    			
			}
.swiper-slide .img{
				width: 100%;  
				height: 100%;  			
			}*/
.image-link{
				margin: 5px;				
				border:2px solid blue;
				display: inline-block;
				/*width: 100%;
				height: 100%;*/
				overflow: hidden;
				
			}
#cpage{
	font-size: 18px;
	line-height: 36px;
}

.boxss{
	font-size: 23px;
	border: 2px blue double;
	text-align: center;
}			