nav.navbar{
	background: pink !important;
		
	}

.swiper-container {
    			width: 720px;
    			height: 540px;
			}
.swiper-slide .img{
				width: 720px;
    			height: 540px;
			}

.image-link{
				margin: 5px;				
				border:2px solid blue;
				display: inline-block;
				overflow: hidden;
				
			}
#cpage{
	font-size: 18px;
	line-height: 36px;
}

.boxss{
	font-size: 23px;
	border: 2px blue double;
	text-align: center;
}			